# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
input-data
output
input-data/
/input-data/
input-data/client-records
/input-data/client-records
/input-data/client-records/
/node_modules/
